.gray
{
  background-color: lightgray;
}

.qcards-wrapper
{
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}

.qcard
{
  display: inline-block;
  width: 80%;
  margin: 2.5% 2.5% 0 2.5%;
  background-color: white;
  vertical-align: top;
  border-radius: 10px;
}

.qcard img,
.qcard button
{
  width: 50%;
  float: left;
  display: block;
  border: 0;
}

.qcard button
{
  line-height: 1.3;
  height: 60px;
}

.qcard label
{
  border-radius: 10px;
  border: 0;
}

.qcard:first-child
{
  margin-left: 10%;
}