<ion-view>
  <ion-content scroll="false" class="cards-content">
    <div class="qcards-wrapper">
      <div class="qcard" ng-repeat="card in cards track by $index">
        <div class="title">
          <table><tr>
            <td class="back-wrapper"><a ng-click="collapse()"><i class="icon ion-chevron-left"></i></a></td>
            <td class="avatar-wrapper">
              <a ng-click="toggleContacts(card.avatar)" ng-style="{'background-image': 'url(' + card.avatar + ')'}">
                <img ng-show="card.avatar != profile.avatar"
                     ng-src="{{ contacts.indexOf(card.avatar) == -1 && 'img/person-not-added.png' || 'img/person-added.png'}}">
              </a>
            </td>
            <td class="text">{{card.question}}<span>Саша, 23</span></td>
          </tr></table>
        </div>
        <ion-scroll class="chat-panel" delegate-handle="chat-panel-{{$index}}" direction="y">
          <div class="spacer"></div>
          <table class="images" ng-class="{message: card.comments.length > 0}">
            <tbody ng-show="card.type == 0">
              <tr><td ng-style="{'background-image': 'url(' + card.pictures[0] + ')'}"></td></tr>
              <tr ng-show="card.comments[0]"><td colspan="2">{{card.comments[0]}}</td></tr>
            </tbody>
            <tbody ng-show="card.type == 1">
              <tr><td ng-style="{'background-image': 'url(' + card.pictures[0] + ')'}">
                <button class="button button-assertive half">{{card.answers[0]}}</button>
                <button class="button button-calm half">{{card.answers[1]}}</button>
              </td></tr>
              <tr ng-show="card.comments[0]"><td colspan="2">{{card.comments[0]}}</td></tr>
            </tbody>
            <tbody ng-show="card.type == 2">
              <tr>
                <td ng-style="{'background-image': 'url(' + card.pictures[0] + ')'}">
                  <button class="button button-assertive">{{card.answers[0]}}</button>
                </td>
                <td ng-style="{'background-image': 'url(' + card.pictures[1] + ')'}">
                  <button class="button button-calm">{{card.answers[1]}}</button>
                </td>
              </tr>
              <tr ng-show="card.comments[0]"><td colspan="2">{{card.comments[0]}}</td></tr>
            </tbody>
          </table>
          <div class="clearfix" ng-repeat="comment in card.comments.slice(1) track by $index">
            <div class="message">{{comment}}</div>
          </div>
        </ion-scroll>
        <div class="comment">
          <div ng-show="card.avatar != profile.avatar" ng-click="expand()">комментарий</div>
        </div>
      </div>
    </div>

    <div class="geo">популярно в вашем городе <i class="ion-android-locate"></i></div>

    <table class="tools"><tr>
      <td><img src="img/peoples.png"></td>
      <td><a ng-click="takePicture()"><img src="img/add-photo.png"></a></td>
      <td><img src="img/dialogs.png"></td>
    </tr></table>

  </ion-content>
  <ion-footer-bar class="comment">
    <label class="item-input-wrapper">
      <input type="search" placeholder="комментарий" ng-model="cards[currIdx].newComment">
    </label>
    <button class="button-clear" ng-click="sendComment()"><i class="icon ion-android-send"></i></button>
    <!-- <input type="text" placeholder="комментарий" ng-model="cards[currIdx].newComment">
    <button class="button-clear" ng-click="sendComment()"><i class="icon ion-android-send"></i></button> -->
  </ion-footer-bar>
</ion-view>
