<ion-view title="Создание вопроса">

  <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="cards()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
      <button ng-show="isFilled()" class="button" ng-click="next()">ДАЛЕЕ</button>
  </ion-nav-buttons>

  <!-- <ion-content on-swipe-left="toggleType(1)" on-swipe-right="toggleType(-1)"> -->
  <ion-content>

    <ion-scroll class="qautocomplete" direction="y" ng-show="suggestions.length > 0">
      <ul class="list">
        <li class="item" ng-repeat="sug in suggestions" ng-click="selectQ(sug)">{{sug}}</li>
      </ul>
    </ion-scroll>

    <table class="two-questions">
      <tr><td colspan="2">
        <input ng-change="suggest()" class="question" type="text" ng-model="wizard.data.question" placeholder="Что мне нравится больше?">
      </td></tr>
      <tr class="image-holder">
        <td id="first" ng-style="{'background-image': 'url(' + wizard.data.pictures[0] + ')'}">
          <img ng-class="{opacity: wizard.data.pictures[0]}" ng-click="takeShot(0)" src="img/photo-placeholder.png">
          <input class="answer" type="text" ng-model="wizard.data.answers[0]">
        </td>
        <td id="second" ng-style="{'background-image': 'url(' + wizard.data.pictures[1] + ')'}">
          <img ng-class="{opacity: wizard.data.pictures[1]}" ng-click="takeShot(1)" src="img/photo-placeholder.png">
          <input class="answer" type="text" ng-model="wizard.data.answers[1]">
        </td>
      </tr>
    </table>
  </ion-content>

  <ion-footer-bar class="qtype">
    <table><tr>
      <td ng-class="{selected: wizard.data.type == 0}" ng-click="switch0()">
        <img ng-src="{{wizard.data.type == 0 && 'img/photo-q-selected.png' || 'img/photo-q.png'}}"><br />
        Фотография
      </td>
      <td ng-class="{selected: wizard.data.type == 1}" ng-click="switch1()">
        <img ng-src="{{wizard.data.type == 1 && 'img/one-pictures-q-selected.png' || 'img/one-pictures-q.png'}}"><br />
        Вопрос с одной картинкой
      </td>
      <td ng-class="{selected: wizard.data.type == 2}" ng-click="switch2()">
        <img ng-src="{{wizard.data.type == 2 && 'img/two-pictures-q-selected.png' || 'img/two-pictures-q.png'}}"><br />
        Вопрос с двумя картинками
      </td>
    </tr></table>
  </ion-footer-bar>

</ion-view>
