<ion-view title="Создание вопроса">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-chevron-left" ng-click="toCards()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="exit()">ДАЛЕЕ</button>
    </ion-nav-buttons>
    <ion-content>

      <table class="two-questions">        
        <tr><td colspan="2">
          <input type="text" placeholder="Что мне нравится больше?">
        </td></tr>
        <tr ng-show="wizard.type == 0 || wizard.type == 1 " class="image-holder">
          <td ng-style="{'background-image': 'url(' + wizard.pictures[0] + ')'}">
            <img ng-hide="wizard.pictures[0]" ng-click="takeShot(0)" src="img/photo-placeholder.jpg">
          </td>
        </tr>
        <tr ng-show="wizard.type == 2" class="image-holder">
          <td ng-style="{'background-image': 'url(' + wizard.pictures[0] + ')'}">
            <img ng-hide="wizard.pictures[0]" ng-click="takeShot(0)" src="img/photo-placeholder.jpg">
          </td>
          <td ng-style="{'background-image': 'url(' + wizard.pictures[1] + ')'}">
            <img ng-hide="wizard.pictures[1]" ng-click="takeShot(1)" src="img/photo-placeholder.jpg">
          </td>
        </tr>
        <tr ng-show="wizard.type != 0"><td colspan="2">
          <input type="text" value="Это"><input type="text" value="Это">
        </td></tr>
      </table>

    </ion-content>
    <ion-footer-bar>
      <table><tr>
        <td><img src="img/photo-q.jpg" ng-click="wizard.type = 0"></td>
        <td><img src="img/one-pictures-q.jpg" ng-click="wizard.type = 1"></td>
        <td><img src="img/two-pictures-q.jpg" ng-click="wizard.type = 2"></td>
      </tr></table>
    </ion-footer-bar>
</ion-view>
