<ion-view title="Действия">

  <ion-nav-bar class="bar-dark bar-actions">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-ios-compose-outline"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-tabs class="tabs-striped">
    <ion-tab href="/chats" title="Чаты" class="chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab href="/notif" title="Уведомления" class="notif">
      <ion-nav-view name="tab-notif"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <ion-footer-bar class="actions">
    <div id="tabs-disap-bnt" class="disap-bnt">
      <img src="img/add-photo.png">
    </div>
        
    <table><tr>
      <td><a ng-click="go('profile')"><img src="img/peoples.png"></a></td>
      <td><a ng-click="go('cards.list')"><img src="img/home.png"></a></td>
      <td><a ng-click="go('tabs.chats')"><img src="img/dialogs.png"></a></td>
    </tr></table>
  </ion-footer-bar>

</ion-view>