@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('/fonts/HelveticaNeueCyr-Light.otf');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('/fonts/HelveticaNeueCyr-Roman.otf');
}

body, button
{
  font-family: 'HelveticaNeueCyr-Roman' !important;
}

.bg
{
  background: #314e82 url(../img/bg_rad.jpg) left top repeat-y;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.qcards-wrapper
{
  white-space: nowrap;
}

.geo
{
  margin: 3px 13% 15px 13%;
  color: #879aab;
  font-size: 11px;
}

.geo .ion-android-locate
{
  vertical-align: middle;
}

.qcards-wrapper.full-screen
{
  height: 100%;
}

.qcard
{
  display: inline-block;
  width: 80%;
  margin: 10% 2.5% 0 2.5%;
  vertical-align: top;
  border-radius: 10px;
}

.qcard.full-screen
{
  height: 100%;
  background-color: #fff;
  border-radius: 0px;
}

.qcard ul
{
  padding: 0;
}

.qcard.full-screen ul
{
  padding-top: 10px;
}

.qcard:first-child
{
  margin-left: 10%;
}

.qcard .item
{
  margin: 0;
  border: 0;
}

.qcard .item:first-child
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.qcard.full-screen .item:first-child
{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.qcard .title 
{
  height: 85px;
}

.qcard .title .btn-wrapper,
.qcard .title .avatar-wrapper,
.qcard .title .text
{

  display: inline-block;
  vertical-align: top;
  position: absolute;
}

.qcard .title .btn-wrapper
{
  line-height: 40px;
  width: 20px;
  height: 40px;
  font-size: 20px;
  display: none;
}

.qcard.full-screen .title .btn-wrapper
{
  display: inline-block;
}

.qcard .title .avatar-wrapper
{
  width: 40px;
  height: 40px;
  margin-left: 0px;
}

.qcard.full-screen .title .avatar-wrapper
{
  margin-left: 20px;
}

.qcard .title img
{
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  position: absolute;
}

.qcard .title .text
{
  white-space: normal;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 18px;
  line-height: 1;
  color: #444a55;
}

.qcard.full-screen .title .text
{
  margin-left: 70px;
}

.qcard .title .text span
{
  display: block;
  font-size: 13px;
  line-height: 1.5;
  color: #8d9ba2;
}


.qcard .title .ion-checkmark-circled
{
  position: relative;
  top: 25px;
  left: 25px;
  border: 1px solid white;
  border-radius: 50%;
  color: #00bf8f;
  background-color: #fff;
}

.qcard .title .plus
{
  position: relative;
  top: 25px;
  left: 24px;
  border: 2px solid white;
  border-radius: 50%;
  color: #00bd91;
  background-color: #a8e6d6;
  line-height: 12px;
  display: block;
  width: 19px;
  height: 19px;
  font-size: 17px;
  padding-left: 3px;
  font-weight: bold;
  padding-top: 1px;
}

.qcard .images
{
  padding: 0;
}

.qcard .images table
{
  width: 100%;
}

.qcard .images table.message
{
  width: 70%;
  margin-left: 28%;
  border: 2px solid #ebebeb;
  margin-bottom: 20px;
  margin-right: 2%;
}

.qcard .images table.message button
{
  display: none;
}

.qcard .images table.message tr:first-child td
{
  height: 76px;
}

.qcard .images table.message tr:last-child td
{
  padding: 5px 10px;
}

.qcard .images tr:first-child td
{
  width: 50%;
  height: 315px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}

.qcard.full-screen .images tr:first-child td
{
  height: 130px;
}

.qcard button
{
  line-height: 1.3;
  height: 40px;
  border: 0;
  white-space: normal;
  width: 100%;
}

.qcard button.button-assertive
{
  background-color: #ed473b;
}

.qcard button.button-calm
{
  background-color: #64a8e8;
}

.qcard.full-screen button
{
  background-color: rgba(0, 0, 0, 0);
}

.qcard label
{
  border: 0;
}

.qcard .item:last-child
{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.qcard.full-screen .item:last-child
{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.qcard .item:last-child .ion-android-send
{
  display: none;
}

.qcard.full-screen .item:last-child .ion-android-send
{
  display: block;
  line-height: 34px;
  font-size: 20px;
  margin-left: 10px;
  width: 30px;
  color: #d7d7d7;
}

.qcard.full-screen .item:last-child img
{
  display: none;
}

.tools
{
  width: 100%;
}

.tools td
{
  width: 33%;
  text-align: center;
}

.tools td img
{
  max-height: 100%;
}