.bg
{
  background: #314e82 url(../img/bg.png) left top repeat-y;
}

.qcards-wrapper
{
  white-space: nowrap;
  height: 100%;
}

.qcard
{
  display: inline-block;
  width: 80%;
  margin: 2.5% 2.5% 0 2.5%;
  vertical-align: top;
  border-radius: 10px;
}

.qcard .item
{
  margin: 0;
  border: 0;
}

.qcard .item:first-child
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.qcard.full-screen .item:first-child
{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.qcard .item:last-child,
.qcard label
{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.qcard.full-screen  .item:last-child,
.qcard.full-screen label
{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.qcard .title
{
  white-space: normal;
}

.qcard .title a
{
  display: block;
}

.qcard .title i
{
  position: absolute;
  top: 27px;
  display: none;
}

.qcard.full-screen .title i
{
  display: block;
}

.qcard .title img
{
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
  margin: 0 10px 0 0px;
}

.qcard.full-screen .title img
{
  margin: 0 10px 0 20px;
}

.qcard .images
{
  padding: 0;
}

.qcard .images table
{
  width: 100%;
}

.qcard .images td
{
  width: 50%;
  height: 640px;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.qcard.full-screen .images td
{
  height: 300px;
}

.qcard button
{
  line-height: 1.3;
  height: 60px;
  border: 0;
  white-space: normal;
  width: 100%;
}

.qcard.full-screen button
{
  background-color: rgba(0, 0, 0, 0);
}

.qcard label
{
  border: 0;
}

.qcard:first-child
{
  margin-left: 10%;
}