@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('fonts/HelveticaNeueCyr-Light.otf');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('fonts/HelveticaNeueCyr-Roman.otf');
}

body, button, .tab-item, h2
{
  font-family: 'HelveticaNeueCyr-Roman' !important;
}

.bg
{
  background: #314e82 url(../img/bg-rad.jpg) left top no-repeat;
  background-position: center center;
  background-size: cover;
}

.bar
{
  z-index: 100;
}

.bg .pane
{
  background: none;
}

.cards-content.has-header
{
  top: 0;
}

.cards-content.has-footer
{
  bottom: 0;
}

.qcards-wrapper
{
  white-space: nowrap;
}

.qcards-wrapper.full-screen
{
  height: 100%;
}

.qcard
{
  display: inline-block;
  width: 86%;
  margin: 10% 1.5% 0 1.5%;
  vertical-align: top;
  border-radius: 10px;
}

.qcard:first-child
{
  margin-left: 7%;
}

.qcards-wrapper.full-screen .qcard
{
  height: 100%;
  background-color: #fff;
  border-radius: 0px;
}

.qcards-wrapper.full-screen .qcard ul
{
  padding-top: 10px;
}

.qcard .title
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #fff;
}

.qcards-wrapper.full-screen .qcard .title
{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.qcard.chat-header .title
{
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.qcard .title table,
.cards-header,
.bar-header.cards-header
{
  height: 90px;
  width: 100%;
}

.bar-header.cards-header
{
  top: -100px;
  border: none;
}

.bar-header.cards-header.chat-header
{
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.qcard .title td,
.cards-header td
{
  padding-top: 15px;
  white-space: normal;
  vertical-align: top;
}

.qcards-wrapper.full-screen .qcard .title td
{
  padding-top: 20px;
}

.qcard .title td.back-wrapper
{
  padding-left: 10px;
  width: 30px;
  line-height: 90px;
  text-align: left;
  font-size: 20px;
  display: none;
}

.cards-header td.back-wrapper
{
  padding-left: 2px;
  width: 13px;
  line-height: 43px;
  text-align: left;
  font-size: 20px;
  display: table-cell;
}

.qcards-wrapper.full-screen .qcard .title td.back-wrapper
{
  display: table-cell;
  padding-top: 0px;
}

.qcard .title td.back-wrapper a,
.cards-header td.back-wrapper a
{
  width: 100%;
  display: block;
  color: #0084ff;
}

.qcard .title td.avatar-wrapper,
.cards-header td.avatar-wrapper
{
  padding-left: 10px;
  width: 60px;
}

.cards-header td.avatar-wrapper
{
  width: 70px;
}

.qcards-wrapper.full-screen .qcard .title td.avatar-wrapper
{
  padding-left: 0px;
}

.qcard .title td.avatar-wrapper a,
.cards-header td.avatar-wrapper a
{
  background-size: cover;
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.qcard .title td.avatar-wrapper img,
.cards-header td.avatar-wrapper img
{
  height: 16px;
  margin: 27px 0 0 27px;
}

.qcard .title td.text,
.cards-header td.text
{
  padding-right: 10px;
  font-size: 16px;
  line-height: 1;
}

.qcard .title td.text span,
.cards-header td.text span
{
  display: block;
  font-size: 13px;
  line-height: 1.5;
  color: #8d9ba2;
}

.chat-panel .spacer
{
  height: 800px;
  display: none;
}
.qcards-wrapper.full-screen .chat-panel .spacer
{
  display: block;
}

.qcard .images
{
  padding: 0;
  width: 100%;
}

.qcard .message
{
  width: 70%;
  margin-left: 28%;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
  margin-right: 2%;
  border-radius: 5px;
}

.qcard div.message
{
  width: auto;
  white-space: normal;
  display: inline-block;
  float: right;
}

.qcard .message tr:first-child td
{
  height: 76px;
}

.qcard .message tr:last-child td,
.qcard div.message
{
  padding: 5px 10px;
  text-align: right;
}

.qcard .images tr:first-child td
{
  width: 50%;
  height: 313px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}

.qcards-wrapper.full-screen .qcard .images tr:first-child td
{
  height: 230px;
}

.qcard .images button
{
  border-radius: 0;
  line-height: 1.3;
  height: 50px;
  border: 0;
  white-space: normal !important;
  width: 100%;
  font-size: 15px;
}

.qcard .images button.half
{
  width: 50%;
  float: left;
}

.qcard .images button.button-assertive
{
  background-color: #ed473b;
}

.qcard .images button.button-calm
{
  background-color: #64a8e8;
}

.qcards-wrapper.full-screen .qcard .images button
{
  background-color: rgba(0, 0, 0, 0);
}

.qcard .images.message button
{
  display: none;
}

.qcard .comment
{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  line-height: 43px;
  height: 43px;
  color: #c0c0c0;
  padding: 1px 10px;
  background-color: #fff;
}

.qcard .comment div
{
  background: transparent url(../img/share-like.jpg) right center no-repeat;
}

.qcards-wrapper.full-screen .qcard .comment
{
  display: none;
}

.qcards-wrapper.full-screen .qcard .comment div
{
  display: none;
}

.bar-footer.comment
{
  bottom: -100px;
}

.bar-footer.comment label
{
  padding: 0;
  background: #fff;
}

.bar-footer.comment input
{
  width: 100%;
}

.bar-footer.comment .button-clear
{
  font-size: 20px;
}



.geo
{
  margin: 3px 13% 9px 13%;
  color: #879aab;
  font-size: 11px;
}

.geo .ion-android-locate
{
  vertical-align: middle;
}



.tools
{
  width: 100%;
}

.tools td
{
  width: 33%;
  text-align: center;
}

.tools td img
{
  max-height: 100%;
}





.bar .button.button-icon:before
{
  font-size: 16px;
}

.bar.bar-dark,
.bar.bar-dark button
{
  background-color: black;
  border-color: black;
  color: #3e7dbd;
}

.bar.bar-dark .title
{
  width: 100%;
  margin: 0;
  left: 0 !important;
  right: 0 !important;
}

.qautocomplete
{
  height: 100px;
  width: 100px;
  position: absolute;
  width: 84%;
  margin: 0 8%;
  height: 200px;
  z-index: 1000;
}

.two-questions
{
  width: 84%;
  margin: 10px 8% 20px 8%;
}

.two-questions .image-holder td
{
  height: 273px;
  background-color: #edf4f7;
  background-size: cover;
  text-align: center;
  width: 50%;
  overflow: hidden;
  display: inline-block;
  float: left;
}

.two-questions .image-holder td img.opacity
{
  opacity: 0;
}

.two-questions .image-holder td img
{
  padding: 82px 0;
}

.two-questions .question
{
  width: 100%;
  padding: 6px 16px 5px 16px;
  font-size: 18px;
  height: 43px;
  line-height: 34px;
}

.two-questions .answer
{
  text-align: center;
  color: white;
  width: 100%;
  font-size: 18px;
  height: 43px;
  line-height: 43px;
  border-radius: 0;
  float: right;
}

.two-questions #first .answer
{
  background: #468edb url(../img/or-left.png) right center no-repeat;
}

.two-questions #second .answer
{
  background: #468edb url(../img/or-right.png) left center no-repeat;
}

.two-questions.right-answer-select .image-holder .overlay
{
  background-color: rgba(100, 155, 55, 0.5);
  height: 232px;
}

.two-questions.right-answer-select .image-holder img
{
  opacity: 0;
}

.two-questions.right-answer-select .image-holder .overlay img
{
  opacity: 1;
}

.share
{
  margin: 0 auto;
  display: block;
}


.bar-footer.qtype
{
  height: 90px;
  background-color: #f2f7f7;
  font-size: 12px;
  line-height: 16px;
  color: #a4abb4;
}

.bar-footer.qtype table
{
  width: 100%;
}

.bar-footer.qtype table td
{
  text-align: center;
  width: 33%;
  padding-top: 5px
}

.bar-footer.qtype table td.selected
{
  color: #468cdc;
}

.bar-footer.qtype table img
{
  height: 35px;
}



.bar-footer.publish
{
  background-color: #468edb;
  color: #fff;
  border: none;
}



.bar .button.button-icon.ion-ios-compose-outline:before
{
  font-size: 26px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar.bar-dark.bar-actions,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar.bar-dark.bar-actions
{
  background: #314e82 url(../img/bg-rad.jpg) left top no-repeat;
  background-size: cover;
}

.tabs-striped .tab-item.tab-item-active
{
  border-color: #5f8ed7;
}

.tabs-striped .tab-item
{
  padding-left: 20px;
  padding-right: 7px;
}

.tabs-striped .tab-item.chats
{
  background: transparent url(../img/tab-chats.png) 24px center no-repeat;
}

.tabs-striped .tab-item.notif
{
  background: transparent url(../img/tab-notif.png) 10px center no-repeat;
}



.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10000;
}

.overlay .wrapper
{
  position: absolute;
  bottom: 10px;
}

.overlay button
{
  width: 94%;
  margin: 0 3%;
  border: 0;
  border-radius: 5px;
}

.overlay button#friends,
.overlay button#new
{
  text-align: left;
}

.overlay button#friends
{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.overlay button#new
{
  border-top: 1px solid #ddd;
  border-radius: 0;
  margin-bottom: 7px;
}

.overlay button#cancel
{
  color: #007fea
}

.notif .item
{
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.notif .item.item-divider
{
  border: none;
  min-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 20px;
  font-size: 14px;
  background-color: #dadada;
}

.notif .item-divider a
{
  float: right;
  color: #929292;
}

.notif .item
{
  padding-right: 11px;
}

.notif .item-icon-right
{
  padding-right: 54px;
}

.notif .item
{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

.notif .item.new
{
  background-color: #f7f7f7;
}

.notif .item img.action
{
  position: absolute;
  top: 43px;
  left: 43px;
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notif .item p
{
  text-overflow: none;
  white-space: normal;
}

.notif .item .name
{
  color: #5874a5;
}

.notif .item .action
{  
  color: #666666;
}

.notif .item .date
{
  color: #8b8b8b;
  font-size: 13px;
}

.notif .item div.img
{
  height: 45px;
  width: 45px;
  background-position: center center;
  background-size: cover;
  float: right;
  margin: 5px 0 5px 10px;
}

.notif .item i div
{
  height: 45px;
  width: 45px;
  background-position: center center;
  background-size: cover;
}

ion-footer-bar.actions
{
  background: #314e82 url(../img/bg-rad.jpg) left bottom no-repeat;
  background-size: cover;
  padding: 5px 0;
}

ion-footer-bar.actions table
{
  width: 100%;
}

ion-footer-bar.actions table td
{
  width: 33%;
  text-align: center;
}


#disap-bnt
{
  position: absolute;
  bottom: 3px;
  z-index: 10000;
  width: 100%;
  text-align: center;
  opacity: 1;
}

#disap-bnt.hided
{
  opacity: 0;
}



.profile .brief
{
  width: 100%;
  margin: 16px 0;
}

.profile .brief td
{
  width: 25%;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.profile .brief td span
{
  font-size: 11px;
}

.profile .brief img
{
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}

.profile .chart-people
{
  width: 100%;
  border-top: 1px solid #ddd;
}


.profile .chart-people td:first-child
{
  border-right: 1px solid #ddd;
}

.profile .chart-people td
{
  width: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 14px 0 10px 0;
}

.profile .chart-people td img
{
  height: 20px;
}

.profile .item-avatar > img:first-child
{
  background-position: center center;
  background-size: cover;
  border-radius: 0;
}

.profile .item h2,
.profile .item p
{
  white-space: normal;
  font-size: 14px;
}

.profile .item p
{
  color: #8d929c;
}

.profile .item-icon-right .icon
{
  font-size: 14px;
}

.profile .item-icon-right .icon span
{
  font-size: 10px;
  color: #56a858;
}